%p.user-name
  = message.user.name
%p.time
  = format_posted_time(message.created_at)
- if message.content.present?
  %p.message
    = message.content
= image_tag message.image.url, class: "message__image" if message.image.present?
