.upper-message
  .upper-message__user-name
    = message.user.name
  .upper-message__time
    = message.created_at.to_s
.lower-message
  - if message.body.present?
    .lower-message__message
      = message.body
  = image_tag message.image.url, class: "lower-message__image" if message.image.present?
