%p.user-name
  = message.user.name
%p.time
  = message.created_at.to_s
- if message.body.present?
  %p.message
    = message.body
= image_tag message.image.url, class: "message__image" if message.image.present?
