.notificate チャットグループが生成されました。
.wrapper
  .side-bar
    .side-bar__header
      %h3.header__name
        nagata
      %ul.header__lists
        %li.i.fa.fa-edit.fa-lg
        %li.i.fa.fa-cog.fa-lg
    .groups
      .group
        group1
        .group__sub
          test
  .chat
    .header
      .left-header
        .left-header__title
          group1
        .left-header__member
          Member :
      .right-header
        %a.right-header__button
          Edit
    .messages
      %p.user-name
        haml
      %p.time
        2018/05/10 16:45:45
      %p.message
        scss
    .form
      %form.comment
        .chat-space
          %input.text-space{:name => "text", :placeholder => "type a message", :type => "text", :size => 95}
          %label{:for => "upload-icon"}
            %i.fa.fa-picture-o
            %input#upload-icon{:style => "display:none;", :type => "file"}
          %input.submit{:type => "submit", :value => "Send"}
