@import './variable';

.wrapper {
  .chat {
    width: calc(100% - 300px);
    float: right;
    .header {
      height: 100px;
      padding: 0 40px;
      .left-header {
        float: left;
        &__title {
          color: #333333;
          font-size: 20px;
          margin-top: 35px;
        }
        &__member {
          color: $gray;
          font-size: 12px;
          margin-top: 15px;
        }
      }
      .right-header {
        border: 1px solid $skyblue;
        color: $skyblue;
        float: right;
        height: 40px;
        line-height: 40px;
        margin-top: 28px;
        padding:0 20px;
        &__button {
          color: $skyblue;
          text-decoration: none;
        }
      }
    }
    .messages {
      background-color: #FAFAFA;
      height: calc(100vh - 190px);
      overflow: scroll;
      padding: 46px 40px 0;
      color: #434A54;
      box-sizing: border-box;
      .upper-message {
        display: flex;
        &__user-name {
        font-size: 16px;
        font-weight: bold;
        }
        &__time {
        font-size: 12px;
        color: $gray;
        padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__message {
        font-size: 14px;
        margin-bottom: 40px;
        color: #434A54;
        }
      }
    }
    .form {
      background-color: #DDDDDD;
      height: 90px;
      font-size: 16px;
      position: relative;
      &__space {
        margin: 20px 40px;
        height: 50px;
        color: #434A54;
        float: left;
        width: calc(100vw - 530px);
        min-width: 300px;
        padding-left: 10px;
      }
      &__icon {
          position: absolute;
          top: 35px;
          right: 190px;
          .icon {
          }
          .hidden {
          }
      }
      &__button {
        background-color: $skyblue;
        color: $white;
        float:right;
        padding: 0 30px;
        line-height: 50px;
        position: absolute;
        top: 20px;
      }
    }
  }
}
